[Unit]
Description=Rclone bisync timer for remote %i
Documentation=man:rclone(1)
Conflicts=rclone@%i.service

[Timer]
OnStartupSec=30
OnUnitInactiveSec=300

[Install]
WantedBy=timers.target