---
- name: Get current platform information
  hosts: localhost
  connection: local
  tags:
    - debug
  tasks:
    - name: Display platform details
      ansible.builtin.debug:
        msg: |
          Distribution: {{ ansible_distribution }}
          Version: {{ ansible_distribution_major_version }}
          OS Family: {{ ansible_os_family }}
          System: {{ ansible_system }}

- name: Place dotfiles
  hosts: localhost
  connection: local
  become: false
  vars_prompt:
    - name: git_user_name
      prompt: "Enter your Git user name"
      private: false
    - name: git_user_email
      prompt: "Enter your Git user email"
      private: false
  tasks:
    - name: Copy zsh config
      ansible.builtin.copy:
        src: .zshrc
        dest: "{{ ansible_env.HOME }}/.zshrc"
        mode: "0755"

    - name: Ensure systemd user directory exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.config/systemd/user"
        recurse: true
        state: directory

    - name: Copy user .config files
      ansible.builtin.copy:
        src: .config/
        dest: "{{ ansible_env.HOME }}/.config/"
        mode: "0755"

    - name: Ensure local bin directory exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.local/bin"
        recurse: true
        state: directory

    - name: Copy local bin scripts
      ansible.builtin.copy:
        src: .local/bin/
        dest: "{{ ansible_env.HOME }}/.local/bin/"
        mode: "0755"

    - name: Copy git config
      ansible.builtin.template:
        src: .gitconfig.j2
        dest: "{{ ansible_env.HOME }}/.gitconfig"
        mode: "0644"
